In [1]:
import pandas as pd

In [2]:
pwd

'C:\\work\\DataScience'

In [4]:
pd.read_csv('people-100.csv')

,Index,User Id,First Name,Last Name,Sex,Email,Phone,Date of birth,Job Title
0,1,88F7B33d2bcf9f5,Shelby,Terrell,Male,elijah57@example.net,001-084-906-7849x73518,1945-10-26,Games developer
1,2,f90cD3E76f1A9b9,Phillip,Summers,Female,bethany14@example.com,214.112.6044x4913,1910-03-24,Phytotherapist
2,3,DbeAb8CcdfeFC2c,Kristine,Travis,Male,bthompson@example.com,277.609.7938,1992-07-02,Homeopath
3,4,A31Bee3c201ef58,Yesenia,Martinez,Male,kaitlinkaiser@example.com,584.094.6111,2017-08-03,Market researcher
4,5,1bA7A3dc874da3c,Lori,Todd,Male,buchananmanuel@example.net,689-207-3558x7233,1938-12-01,Veterinary surgeon
...,...,...,...,...,...,...,...,...,...
95,96,5eFda7caAeB260E,Dennis,Barnes,Female,bmartin@example.org,001-095-524-2112x257,1954-07-30,Software engineer
96,97,CCbFce93d3720bE,Steve,Patterson,Female,latasha46@example.net,001-865-478-5157,1932-04-29,Barrister
97,98,2fEc528aFAF0b69,Wesley,Bray,Male,regina11@example.org,995-542-3004x76800,1994-12-28,Police officer
98,99,Adc7ad9B6e4A1Fe,Summer,Oconnell,Female,alexiscantrell@example.org,001-273-685-6932x092,2012-04-12,Broadcast journalist
99,100,b8D0aD3490FC7e1,Mariah,Bernard,Male,pcopeland@example.org,(341)594-6554x44657,2016-11-15,IT sales professional

In [5]:
df = pd.read_csv('people-100.csv')

In [6]:
df

,Index,User Id,First Name,Last Name,Sex,Email,Phone,Date of birth,Job Title
0,1,88F7B33d2bcf9f5,Shelby,Terrell,Male,elijah57@example.net,001-084-906-7849x73518,1945-10-26,Games developer
1,2,f90cD3E76f1A9b9,Phillip,Summers,Female,bethany14@example.com,214.112.6044x4913,1910-03-24,Phytotherapist
2,3,DbeAb8CcdfeFC2c,Kristine,Travis,Male,bthompson@example.com,277.609.7938,1992-07-02,Homeopath
3,4,A31Bee3c201ef58,Yesenia,Martinez,Male,kaitlinkaiser@example.com,584.094.6111,2017-08-03,Market researcher
4,5,1bA7A3dc874da3c,Lori,Todd,Male,buchananmanuel@example.net,689-207-3558x7233,1938-12-01,Veterinary surgeon
...,...,...,...,...,...,...,...,...,...
95,96,5eFda7caAeB260E,Dennis,Barnes,Female,bmartin@example.org,001-095-524-2112x257,1954-07-30,Software engineer
96,97,CCbFce93d3720bE,Steve,Patterson,Female,latasha46@example.net,001-865-478-5157,1932-04-29,Barrister
97,98,2fEc528aFAF0b69,Wesley,Bray,Male,regina11@example.org,995-542-3004x76800,1994-12-28,Police officer
98,99,Adc7ad9B6e4A1Fe,Summer,Oconnell,Female,alexiscantrell@example.org,001-273-685-6932x092,2012-04-12,Broadcast journalist
99,100,b8D0aD3490FC7e1,Mariah,Bernard,Male,pcopeland@example.org,(341)594-6554x44657,2016-11-15,IT sales professional

In [7]:
df.to_csv('My_output',index=False)

In [8]:
pd.read_csv('My_output')

,Index,User Id,First Name,Last Name,Sex,Email,Phone,Date of birth,Job Title
0,1,88F7B33d2bcf9f5,Shelby,Terrell,Male,elijah57@example.net,001-084-906-7849x73518,1945-10-26,Games developer
1,2,f90cD3E76f1A9b9,Phillip,Summers,Female,bethany14@example.com,214.112.6044x4913,1910-03-24,Phytotherapist
2,3,DbeAb8CcdfeFC2c,Kristine,Travis,Male,bthompson@example.com,277.609.7938,1992-07-02,Homeopath
3,4,A31Bee3c201ef58,Yesenia,Martinez,Male,kaitlinkaiser@example.com,584.094.6111,2017-08-03,Market researcher
4,5,1bA7A3dc874da3c,Lori,Todd,Male,buchananmanuel@example.net,689-207-3558x7233,1938-12-01,Veterinary surgeon
...,...,...,...,...,...,...,...,...,...
95,96,5eFda7caAeB260E,Dennis,Barnes,Female,bmartin@example.org,001-095-524-2112x257,1954-07-30,Software engineer
96,97,CCbFce93d3720bE,Steve,Patterson,Female,latasha46@example.net,001-865-478-5157,1932-04-29,Barrister
97,98,2fEc528aFAF0b69,Wesley,Bray,Male,regina11@example.org,995-542-3004x76800,1994-12-28,Police officer
98,99,Adc7ad9B6e4A1Fe,Summer,Oconnell,Female,alexiscantrell@example.org,001-273-685-6932x092,2012-04-12,Broadcast journalist
99,100,b8D0aD3490FC7e1,Mariah,Bernard,Male,pcopeland@example.org,(341)594-6554x44657,2016-11-15,IT sales professional

In [13]:
pd.read_excel('Westcare_HMO_TARIFF.xlsx')

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,WEST CARE SPECIALIST HOSPITAL
3,CATEGORY,ITEM CODE,DESCRIPTION,NaN,PRICE
4,NaN,NaN,ORTHOPEDIC CONSULTATION,NaN,20000
...,...,...,...,...,...
363,Dental,NaN,Gingivectomy,NaN,20000
364,Dental,NaN,Sealant per tooth,NaN,7500
365,Dental,NaN,Apicetomy/retrograde filling,NaN,40000
366,Dental,NaN,Splinting tooth (tooth stabilization),NaN,37500
367,Dental,NaN,Glass ionomer cement (GIC) restoration,NaN,18750

In [15]:
pd.read_excel('Westcare_HMO_TARIFF.xlsx', sheet_name='VACCINE')

,Unnamed: 0,WESTCARE VACCINE,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,UNIT,WEST CARE SPECIALIST HOSPITAL
0,Vaccine,OPV (Oral Polio Vaccine),NaN,NaN,NaN,NaN,1 DOSE,2925.0
1,Vaccine,BCG,NaN,NaN,NaN,NaN,1 DOSE,4387.5
2,Vaccine,PENTAVALENT VACCINE,NaN,NaN,NaN,NaN,1 DOSE,5850.0
3,Vaccine,DPT Booster For 18 Months and 4 Years only,NaN,NaN,NaN,NaN,1 DOSE,5850.0
4,Vaccine,MEASLES,NaN,NaN,NaN,NaN,1 DOSE,5850.0
5,Vaccine,YELLOW FEVER,NaN,NaN,NaN,NaN,1 DOSE,5850.0
6,Vaccine,VITAMIN A,NaN,NaN,NaN,NaN,1 DOSE,2925.0
7,Vaccine,Eng B 10mcg (Hepatitis B),NaN,NaN,NaN,NaN,1 DOSE,29250.0
8,Vaccine,Havrix (Hepatitis A),NaN,NaN,NaN,NaN,1 DOSE,58500.0
9,Vaccine,Hiberix (Haemophilus Influenzae B),NaN,NaN,NaN,NaN,1 DOSE,14625.0
10,Vaccine,Typherix (Typhoid Vaccine),NaN,NaN,NaN,NaN,1 DOSE,17550.0
11,Vaccine,Typhim (Typhoid Vaccine),NaN,NaN,NaN,NaN,1 DOSE,17550.0
12,Vaccine,Synflorix (Pnemococcal Vaccine),NaN,NaN,NaN,NaN,1 DOSE,43875.0
13,Vaccine,Nimenrix (Meningitis),NaN,NaN,NaN,NaN,1 DOSE,49725.0
14,Vaccine,Priorix (MMR),NaN,NaN,NaN,NaN,1 DOSE,46800.0
15,Vaccine,Trimovax (MMR),NaN,NaN,NaN,NaN,1 DOSE,46800.0
16,Vaccine,Rotarix (Rotavirus Vaccine),NaN,NaN,NaN,NaN,1 DOSE,46800.0
17,Vaccine,Tritanrix (DPT + Hep B.),NaN,NaN,NaN,NaN,1 DOSE,10237.5
18,Vaccine,Varilrix (Chicken Pox),NaN,NaN,NaN,NaN,1 DOSE,43875.0
19,Vaccine,Pentaxim (DPT + HIB + Injectable Polio),NaN,NaN,NaN,NaN,1 DOSE,17550.0
20,Vaccine,Prevenar 13 (Pneumococcal),NaN,NaN,NaN,NaN,1 DOSE,46800.0
21,Vaccine,Verorab + Syringe,NaN,NaN,NaN,NaN,1 DOSE,73125.0
22,Vaccine,Pneumo - 23,NaN,NaN,NaN,NaN,1 DOSE,24862.5
23,Vaccine,Varicella - Chicken Pox,NaN,NaN,NaN,NaN,1 DOSE,43875.0
24,Vaccine,Tresivac - MMR,NaN,NaN,NaN,NaN,1 DOSE,52650.0
25,Vaccine,IPV (Injectable Polio Vaccine),NaN,NaN,NaN,NaN,1 DOSE,14625.0
26,Vaccine,Genevac B Paed (Hepatitis B),NaN,NaN,NaN,NaN,1 DOSE,29250.0
27,Vaccine,Typbar (Polio),NaN,NaN,NaN,NaN,1 DOSE,16087.5

In [16]:
df.to_excel('Excel_Sample2.xlsx',sheet_name='NewSheet')

In [17]:
data = pd.read_html('http://www.fdic.gov/bank/individual/failed/banklist.html')

In [19]:
data[0]

,Bank Name,City,State,Cert,Acquiring Institution,Closing Date,Fund Sort ascending
0,The Santa Anna National Bank,Santa Anna,Texas,5520,Coleman County State Bank,"June 27, 2025",10549
1,Pulaski Savings Bank,Chicago,Illinois,28611,Millennium Bank,"January 17, 2025",10548
2,The First National Bank of Lindsay,Lindsay,Oklahoma,4134,First Bank & Trust Co.,"October 18, 2024",10547
3,Republic First Bank dba Republic Bank,Philadelphia,Pennsylvania,27332,"Fulton Bank, National Association","April 26, 2024",10546
4,Citizens Bank,Sac City,Iowa,8758,Iowa Trust & Savings Bank,"November 3, 2023",10545
5,Heartland Tri-State Bank,Elkhart,Kansas,25851,"Dream First Bank, N.A.","July 28, 2023",10544
6,First Republic Bank,San Francisco,California,59017,"JPMorgan Chase Bank, N.A.","May 1, 2023",10543
7,Signature Bank,New York,New York,57053,"Flagstar Bank, N.A.","March 12, 2023",10540
8,Silicon Valley Bank,Santa Clara,California,24735,First Citizens Bank & Trust Company,"March 10, 2023",10539
9,Almena State Bank,Almena,Kansas,15426,Equity Bank,"October 23, 2020",10538
10,First City Bank of Florida,Fort Walton Beach,Florida,16748,"United Fidelity Bank, fsb","October 16, 2020",10537
11,The First State Bank,Barboursville,West Virginia,14361,"MVB Bank, Inc.","April 3, 2020",10536
12,Ericson State Bank,Ericson,Nebraska,18265,Farmers and Merchants Bank,"February 14, 2020",10535
13,City National Bank of New Jersey,Newark,New Jersey,21111,Industrial Bank,"November 1, 2019",10534
14,Resolute Bank,Maumee,Ohio,58317,Buckeye State Bank,"October 25, 2019",10533
15,Louisa Community Bank,Louisa,Kentucky,58112,Kentucky Farmers Bank Corporation,"October 25, 2019",10532
16,The Enloe State Bank,Cooper,Texas,10716,"Legend Bank, N. A.","May 31, 2019",10531
17,Washington Federal Bank for Savings,Chicago,Illinois,30570,Royal Savings Bank,"December 15, 2017",10530
18,The Farmers and Merchants State Bank of Argonia,Argonia,Kansas,17719,Conway Bank,"October 13, 2017",10529
19,Fayette County Bank,Saint Elmo,Illinois,1802,"United Fidelity Bank, fsb","May 26, 2017",10528
20,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,Wisconsin,30003,First-Citizens Bank & Trust Company,"May 5, 2017",10527
21,First NBC Bank,New Orleans,Louisiana,58302,Whitney Bank,"April 28, 2017",10526
22,Proficio Bank,Cottonwood Heights,Utah,35495,Cache Valley Bank,"March 3, 2017",10525
23,Seaway Bank and Trust Company,Chicago,Illinois,19328,State Bank of Texas,"January 27, 2017",10524
24,Harvest Community Bank,Pennsville,New Jersey,34951,First-Citizens Bank & Trust Company,"January 13, 2017",10523

In [20]:
from sqlalchemy import create_engine

In [27]:
engine = create_engine('sqlite:///:memory:')

In [29]:
df.to_sql('my_table',engine)

OperationalError: (sqlite3.OperationalError) duplicate column name: Index
[SQL:
CREATE TABLE my_table (
	"index" BIGINT,
	"Index" BIGINT,
	"User Id" TEXT,
	"First Name" TEXT,
	"Last Name" TEXT,
	"Sex" TEXT,
	"Email" TEXT,
	"Phone" TEXT,
	"Date of birth" TEXT,
	"Job Title" TEXT
)

]
(Background on this error at: https://sqlalche.me/e/20/e3q8)