In [15]:
#Choropleth Maps

In [1]:
import pandas as pd

In [10]:
import plotly.express as px

In [11]:
import plotly.graph_objects as go

In [12]:
import plotly.io as pio
pio.renderers.default = "browser"

In [13]:
import country_converter as coco

In [5]:
data = dict(type = 'choropleth',
           locations = ['AZ','CA','NY'],
            locationmode = 'USA-states',
           colors= 'Portland',
           text = ['text 1','text 2','text 3'],
           z = [1.0,2.0,3.0],
           colorbar = {'title':'Colorbar Title Goes Here'})

In [5]:
data

{'type': 'choropleth',
 'locations': ['AZ', 'CA', 'NY'],
 'locationmode': 'USA-states',
 'colors': 'Portland',
 'text': ['text 1', 'text 2', 'text 3'],
 'z': [1.0, 2.0, 3.0],
 'colorbar': {'title': 'Colorbar Title Goes Here'}}

In [8]:
layout = dict(geo={'scope':'usa'})

In [11]:
# choromap = go.Figure(data = [data],layout=layout)

print(type(data))
print(data)

<class 'dict'>
{'locations': ['AZ', 'CA', 'NY'], 'locationmode': 'USA-states', 'colors': 'Portland', 'text': ['text 1', 'text 2', 'text 3'], 'z': [1.0, 2.0, 3.0], 'colorbar': {'title': 'Colorbar Title Goes Here'}}

In [14]:
fig = go.Figure(
    data=go.Choropleth(
        locations=['AZ','CA','NY'],
        locationmode='USA-states',
        colorscale='Portland',
        text=['text 1','text 2','text 3'],
        z=[1.0,2.0,3.0],
        colorbar_title='Colorbar Title Goes Here'
    )
)
fig.update_layout(
    title_text='USA Choropleth Map',
    geo_scope='usa',
    template='plotly_white',
    title_x=0.5
)

fig.show()

In [18]:
df = pd.DataFrame({
    "state": ['AZ','CA','NY'],
    "value": [1.0,2.0,3.0],
    "text": ['Arizona','California','New York']
})

fig = px.choropleth(
    df,
    locations="state",
    locationmode="USA-states",
    color="value",
    hover_name="text",
    color_continuous_scale="Portland",
    title="USA Choropleth Map"
)

fig.update_layout(
    geo_scope="usa",
    template="plotly_white",
    title_x=0.5
)

fig.show()

In [30]:
ds = pd.read_csv('2011_US_AGRI_Exports')

In [31]:
ds.head()

,code,state,category,total exports,beef,pork,poultry,dairy,fruits fresh,fruits proc,total fruits,veggies fresh,veggies proc,total veggies,corn,wheat,cotton,text
0,AL,Alabama,state,1390.63,34.4,10.6,481.0,4.06,8.0,17.1,25.11,5.5,8.9,14.33,34.9,70.0,317.61,Alabama<br>Beef 34.4 Dairy 4.06<br>Fruits 25.1...
1,AK,Alaska,state,13.31,0.2,0.1,0.0,0.19,0.0,0.0,0.00,0.6,1.0,1.56,0.0,0.0,0.00,Alaska<br>Beef 0.2 Dairy 0.19<br>Fruits 0.0 Ve...
2,AZ,Arizona,state,1463.17,71.3,17.9,0.0,105.48,19.3,41.0,60.27,147.5,239.4,386.91,7.3,48.7,423.95,Arizona<br>Beef 71.3 Dairy 105.48<br>Fruits 60...
3,AR,Arkansas,state,3586.02,53.2,29.4,562.9,3.53,2.2,4.7,6.88,4.4,7.1,11.45,69.5,114.5,665.44,Arkansas<br>Beef 53.2 Dairy 3.53<br>Fruits 6.8...
4,CA,California,state,16472.88,228.7,11.1,225.4,929.95,2791.8,5944.6,8736.40,803.2,1303.5,2106.79,34.6,249.3,1064.95,California<br>Beef 228.7 Dairy 929.95<br>Frui...

In [32]:
print(ds.columns)

Index(['code', 'state', 'category', 'total exports', 'beef', 'pork', 'poultry',
       'dairy', 'fruits fresh', 'fruits proc', 'total fruits', 'veggies fresh',
       'veggies proc', 'total veggies', 'corn', 'wheat', 'cotton', 'text'],
      dtype='object')

In [42]:
fig = px.choropleth(
    ds,
    locations= "code",
    locationmode="USA-states",
    color="total exports",
    hover_name="state",
    hover_data=["category","total veggies","wheat","corn"],
    color_continuous_scale="Greens",
    title="2011 US Agriculture Exports by State"
)

fig.update_layout(
    geo_scope="usa",
    template="plotly_white",
    title_x=0.5
)

fig.show()

In [6]:
ds2 = pd.read_csv('2014_World_GDP')

ds2.head()

In [41]:
ds2.head()

          COUNTRY  GDP (BILLIONS) CODE
0     Afghanistan           21.71  AFG
1         Albania           13.40  ALB
2         Algeria          227.80  DZA
3  American Samoa            0.75  ASM
4         Andorra            4.80  AND

In [7]:
fig = px.choropleth(
    ds2,
    locations= "CODE",
    locationmode="ISO-3",
    color="GDP (BILLIONS)",
    hover_name="COUNTRY",
    hover_data=['COUNTRY', 'GDP (BILLIONS)', 'CODE'],
    color_continuous_scale="Greens",
    title="GDP in Billions USD"
)

fig.update_layout(
    geo_scope="world",
    template="plotly_white",
    title_x=0.5
)

fig.show()

In [14]:
ex1 = pd.read_csv('2014_World_Power_Consumption')
cc = coco.CountryConverter()
ex1['iso_alpha'] = cc.convert(names=ex1['Country'], to='ISO3')

European not found in regex
Saudi not found in regex
South not found in regex
Hong not found in regex
New not found in ISO3
Puerto not found in regex
Sri not found in ISO3
Costa not found in regex
Congo, not found in regex
West not found in regex
Cote not found in regex
Papua not found in regex
New not found in ISO3
Congo, not found in regex
Virgin not found in regex
South not found in regex
French not found in regex
Saint not found in regex
Cabo not found in regex
Central not found in regex
American not found in regex
Saint not found in regex
Saint not found in regex
Equatorial not found in regex
Western not found in regex
Sao not found in ISO3
British not found in regex
Saint not found in regex
Saint not found in regex
Northern not found in regex

In [9]:
ex1.head()

         Country  Power Consumption KWH                        Text
0          China           5.523000e+12     China 5,523,000,000,000
1  United States           3.832000e+12    United 3,832,000,000,000
2       European           2.771000e+12  European 2,771,000,000,000
3         Russia           1.065000e+12    Russia 1,065,000,000,000
4          Japan           9.210000e+11       Japan 921,000,000,000

In [15]:
fig = px.choropleth(
    ex1,
    locations= "iso_alpha",
    locationmode="ISO-3",
    color="Power Consumption KWH",
    hover_name='Country',
    hover_data='Power Consumption KWH',
    color_continuous_scale="Greens",
    title="Power Consumption KWH"
)

fig.update_layout(
    geo_scope="world",
    template="plotly_white",
    title_x=0.5
)

fig.show()

In [16]:
ex2 = pd.read_csv('2012_Election_Data')

In [17]:
ex2.head()

,Year,ICPSR State Code,Alphanumeric State Code,State,VEP Total Ballots Counted,VEP Highest Office,VAP Highest Office,Total Ballots Counted,Highest Office,Voting-Eligible Population (VEP),Voting-Age Population (VAP),% Non-citizen,Prison,Probation,Parole,Total Ineligible Felon,State Abv
0,2012,41,1,Alabama,NaN,58.6%,56.0%,NaN,"2,074,338","3,539,217",3707440.0,2.6%,"32,232","57,993","8,616","71,584",AL
1,2012,81,2,Alaska,58.9%,58.7%,55.3%,"301,694","300,495","511,792",543763.0,3.8%,"5,633","7,173","1,882","11,317",AK
2,2012,61,3,Arizona,53.0%,52.6%,46.5%,"2,323,579","2,306,559","4,387,900",4959270.0,9.9%,"35,188","72,452","7,460","81,048",AZ
3,2012,42,4,Arkansas,51.1%,50.7%,47.7%,"1,078,548","1,069,468","2,109,847",2242740.0,3.5%,"14,471","30,122","23,372","53,808",AR
4,2012,71,5,California,55.7%,55.1%,45.1%,"13,202,158","13,038,547","23,681,837",28913129.0,17.4%,"119,455",0,"89,287","208,742",CA

In [21]:
fig = px.choropleth(
    ex2,
    locations= "State Abv",
    locationmode="USA-states",
    color="Voting-Age Population (VAP)",
    hover_name='State',
    hover_data='Voting-Age Population (VAP)',
    color_continuous_scale="Greens",
    title="2012 Election Data"
)

fig.update_layout(
    geo_scope="usa",
    template="plotly_white",
    title_x=0.5
)

fig.show()