In [3]:
# Introduction to Pandas
# is an open source library built on NumPy
# conda install pandas or pip install pandas

In [11]:
import numpy as np

In [4]:
import pandas as pd

In [12]:
labels = ['a', 'b', 'c']
my_data = [10,20,30]
arr = np.array(my_data)
d = {'a':10,'b':20,'c':30}

In [11]:
pd.Series(data = my_data)

0    10
1    20
2    30
dtype: int64

In [12]:
pd.Series(data = my_data,index=labels)

a    10
b    20
c    30
dtype: int64

In [6]:
from numpy.random import randn

In [15]:
np.random.seed(101)

In [7]:
df = pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])

In [16]:
df.loc['A']

W    1.292482
X    0.842464
Y    0.066160
Z   -0.499773
Name: A, dtype: float64

In [14]:
df

          W         X         Y         Z
A  1.292482  0.842464  0.066160 -0.499773
B  0.062426 -2.421160  0.803235 -1.141989
C -0.514882 -0.463650  2.277072  0.794141
D  1.787086  1.268409  0.839982  2.464988
E -0.518725  0.358817 -0.591422  0.580169

In [17]:
df['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [18]:
type(df['W'])

pandas.core.series.Series

In [19]:
type(df)

pandas.core.frame.DataFrame

In [20]:
df['new'] = df['W'] + df['Y']

In [21]:
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [22]:
df.drop('new',axis=1)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [23]:
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [24]:
df.drop('new',axis=1,inplace=True)

In [25]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [17]:
df.loc['A']

W    1.292482
X    0.842464
Y    0.066160
Z   -0.499773
Name: A, dtype: float64

In [18]:
df.iloc[2]

W   -0.514882
X   -0.463650
Y    2.277072
Z    0.794141
Name: C, dtype: float64

In [19]:
df.loc['C']

W   -0.514882
X   -0.463650
Y    2.277072
Z    0.794141
Name: C, dtype: float64

In [20]:
df > 0

       W      X      Y      Z
A   True   True   True  False
B   True  False   True  False
C  False  False   True   True
D   True   True   True   True
E  False   True  False   True

In [21]:
booldf = df > 0

In [22]:
df[booldf]

          W         X         Y         Z
A  1.292482  0.842464  0.066160       NaN
B  0.062426       NaN  0.803235       NaN
C       NaN       NaN  2.277072  0.794141
D  1.787086  1.268409  0.839982  2.464988
E       NaN  0.358817       NaN  0.580169

In [25]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [26]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [28]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [29]:
df = pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [30]:
df

             A         B
G1 1  2.706850  0.628133
   2  0.907969  0.503826
   3  0.651118 -0.319318
G2 1 -0.848077  0.605965
   2 -2.018168  0.740122
   3  0.528813 -0.589001

In [31]:
df.loc['G1']

          A         B
1  2.706850  0.628133
2  0.907969  0.503826
3  0.651118 -0.319318

In [32]:
df.index.names = ['Groups','Num']

In [33]:
df

                   A         B
Groups Num
G1     1    2.706850  0.628133
       2    0.907969  0.503826
       3    0.651118 -0.319318
G2     1   -0.848077  0.605965
       2   -2.018168  0.740122
       3    0.528813 -0.589001

In [36]:
df.loc['G2'].loc[2]['B']

np.float64(0.7401220570561068)

In [37]:
df.xs('G1')

            A         B
Num
1    2.706850  0.628133
2    0.907969  0.503826
3    0.651118 -0.319318

In [38]:
# Missing Data

In [39]:
d = {'A':[1,2,np.nan],'B':[5,np.nan,np.nan],'C':[1,2,3]}

In [40]:
df = pd.DataFrame(d)

In [41]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [42]:
df.dropna(axis=1)

   C
0  1
1  2
2  3

In [43]:
df.dropna()

     A    B  C
0  1.0  5.0  1

In [45]:
df['A'].fillna(value=df['A'].mean())

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64

In [46]:
# Pandas Groupby
data = {'Company':['GOOG','GOOG','MSFT','MSFT','FB','FB'],
       'Person':['Sam','Charlie','Amy','Vanessa','Carl','Sarah'],
       'Sales':[200,120,340,124,243,350]}

In [47]:
df = pd.DataFrame(data)

In [48]:
df

  Company   Person  Sales
0    GOOG      Sam    200
1    GOOG  Charlie    120
2    MSFT      Amy    340
3    MSFT  Vanessa    124
4      FB     Carl    243
5      FB    Sarah    350

In [49]:
df.groupby('Company')

In [52]:
byComp = df.groupby('Company')

In [54]:
byComp.mean('Sales')

         Sales
Company
FB       296.5
GOOG     160.0
MSFT     232.0

In [55]:
byComp.sum()

             Person  Sales
Company
FB        CarlSarah    593
GOOG     SamCharlie    320
MSFT     AmyVanessa    464

In [61]:
df.groupby('Company').sum('Sales').loc['FB']

Sales    593
Name: FB, dtype: int64

In [62]:
df = pd.DataFrame({'col1':[1,2,3,4],'col2':[444,555,666,444],'col3':['abc','def','ghi','xyz']})
df.head()

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

In [63]:
df['col2'].unique()

array([444, 555, 666])

In [65]:
df['col2'].nunique()

3

In [66]:
df['col2'].value_counts()

col2
444    2
555    1
666    1
Name: count, dtype: int64

In [67]:
# Data input and output
# conda install sqlalchemy
# conda install lxml
# conda install html5lib
# conda install BeautifulSoup4

In [51]:
byComp.mean()

TypeError: agg function failed [how->mean,dtype->object]